{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} 
    {% if form.instance.pk %}
        Update Book 
    {% else %}
        Add book
    {% endif %}
 {% endblock %}

 {%  block content %}
    <h1 class='text-center mb-4 display-5'>{% if form.instance.pk %} Update Book {% else %} Add Book {% endif %} </h1>
    <div class="card shadwo p-4">
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            
            <div class='text-center'>
                <button type="submit" class='btn btn-success'>Save</button>
                <a href="{% url 'homepage' %}" class='btn btn-secondary'>Back</a>
            </div>
        </form>
    </div>

 {% endblock %}
